
@media all and (min-width: 1200px) {
    .container {
        width: 900px;
    }
}

.navbar {
    background-color: #2c3e50;
    margin-bottom: 0px;
}

.navbar-default {
    border-radius: 0;
    border: none;
}

.navbar-default .navbar-nav >li > a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 40px 15px;
}

.navbar-toggle {
    margin-top: 30px;
}

.navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 22px;
    padding: 40px 15px 60px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: green;
    background-color: #3d6791;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: green;
    background-color: #3d6791;
}
/* parte img+testo centrata */
.imgtesto {
    background-color: #1abc9c;
    color: white;
    margin-top: 100px;
    margin-bottom: 0px;
}

.imgtesto img {
    margin-top: 50px;
    margin-bottom: 50px;
}

.iconastella {
    display: inline-block;
    position: relative;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.iconastella:before,
.iconastella:after {
  background-color: white;
  content: "";
  height: 3px;
  position: absolute;
  width: 120px;
  top: 50%;
  border-radius: 2px;
}

.iconastella:before {
  right: 45px;
}

.iconastella:after {
  left: 45px;
}

.imgtesto p {
    padding-bottom: 40px;
}

/* parte portfolio con overlay */

.iconastella2 {
    display: inline-block;
    position: relative;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.iconastella2:before,
.iconastella2:after {
  background-color: black;
  content: "";
  height: 3px;
  position: absolute;
  width: 120px;
  top: 50%;
  border-radius: 2px;
}

.iconastella2:before {
  right: 45px;
}

.iconastella2:after {
  left: 45px;
}
/* parte portfolio on prova di overlay con il + */

.portfolio h2 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    margin-top: 100px;
}

.overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 5%;
}

.overlay i {
    color: white;
    font-size: 80px;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.loghi:hover .overlay {
    display: block;
}

.portfolio img {
    width:100%;
    border-radius: 5%;
}

.loghi {
    margin-top: 15px;
    position: relative;
    margin-bottom: 50px;
}

/* parte about con button */

.about {
    background-color: #1abc9c ;
    color: white;
}

.about h3 {
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 100px;
}

.about p {
    font-size: 20px;
}

.about button {
    background-color:#1abc9c ;
    border: 2px solid white;
    border-radius: 10px;
    padding: 15px 50px;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.about button:hover {
    background-color: white;
    color: black;
}

/* parte dei contatti */
.contatti h4 {
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 100px;
}
.form-control{
  border: none;
  margin-bottom: 20px;
}
.contatti button {
    background-color: #1abc9c ;
    border: 2px solid white;
    border-radius: 10px;
    padding: 15px 35px;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 100px;
}

.contatti button:hover {
  background-color: white;
  color: black;
}

/* parte footer con 3 colonne */
footer {
    background-color: #2c3e50 ;
    color: white;
}

.colonne {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-top: 80px;
}

footer a {
    color: white;
}

footer .clearfix {
    margin-bottom: 80px;
}

footer p .bottone {
    background-color: #2c3e50;
    color: white;
    border-radius: 100%;
    height: auto;
    width: auto;
    border: 2px solid white;
    font-size: 20px;
    line-height: 50px;
    padding: 10px;
    margin-right: 10px;
    margin-top: 15px;
}

footer p .bottone:hover {
    background-color: white;
    color: black;
}
footer a{
  color: green;
}

footer a:hover{
  color: green;
}

/* parte footer finale con copiright */

.copyright {
    background-color: #1a252f;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.copyright p {
    margin-bottom: 0px;
}
